* {
    box-sizing: border-box;
}

.grid-contenedor {
    display: grid; /* activar la cuadrícula gid */
    grid-template-columns: 200px 150px  300px 400px;
    grid-template-rows: 75px 
                        200px 
                        100px; /* Medida auto */
    background-color: #2196F3;
    outline: solid 2px red;
    padding: 10px;
}

.grid-contenedor > div {
    background-color: gray;
    border: 3px solid cyan;
    padding: 20px;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    outline: solid 2px blue;
    color: white;
}
